<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sections</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <p>Editing of each section in one place!</p>
    
    <form action="/<%=suitcase[0]._id%>/edit?_method=PUT" method="POST">
        <ul>
            <% suitcase[suitcase.findIndex(category => category.name === 'toiletries')].items.forEach(function(item) { %>
                <li>
                    <input type="checkbox" name="<%= item.id %>" id="<%= item.id %>" <% if (item.packed)  %>>
                    <label for="<%= item.id %>"><%= item.name %></label>
                    <label for="isPacked">Pack It?</label>
                </li>
            <% }); %>
        </ul>
        <button type="submit">Add another item</button>
        
    </form>
    <button type="delete">Delete</button>
 
</body>
</html>