<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items to Pack</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All the items that you are going to need for the perfect vaction!</h1>
    <p>Weather information to be enter here!</p>
    <p>Traveling location to be entered here</p>
    <ul>
    <lh>Tooletries</lh>
        <form action="/update" method="POST">
            <ul>
                <% tooletries.forEach(function(item) { %>
                    <li>
                        <input type="checkbox" id="<%= item.id %>" name="<%= item.id %>" <% if (item.packed) { %>checked<% } %>>
                        <label for="<%= item.id %>"><%= item.name %></label>
                    </li>
                <% }); %>
            </ul>
            <a href="/users/<%= user._id %>/items/suitcase/:itemsId/edit">Update Tooletires List</a>
        </form>
    </ul>
    </br>

    <lh>Essentials</lh>
        <form action="/update" method="POST">
            <ul>
                <% essentials.forEach(function(item) { %>
                    <li>
                        <input type="checkbox" id="<%= item.id %>" name="<%= item.id %>" <% if (item.packed) { %>checked<% } %>>
                        <label for="<%= item.id %>"><%= item.name %></label>
                    </li>
                <% }); %>
            </ul>
            <a href="/users/<%= user._id %>/items/suitcase/:itemsId/edit">Update Essentials List</a>
        </form>
    </br>

    <lh>Speciality Clothes</lh>
        <form action="/update" method="POST">
            <ul>
                <% specialityClothes.forEach(function(item) { %>
                    <li>
                        <input type="checkbox" id="<%= item.id %>" name="<%= item.id %>" <% if (item.packed) { %>checked<% } %>>
                        <label for="<%= item.id %>"><%= item.name %></label>
                    </li>
                <% }); %>
            </ul>
            <a href="/users/<%= user._id %>/items/suitcase/:itemsId/edit">Update Speciality Clothes List</a>
        </form>
    </br>

    <lh>Jackets/Sweaters</lh>
        <form action="/update" method="POST">
            <ul>
                <% jackets.forEach(function(item) { %>
                    <li>
                        <input type="checkbox" id="<%= item.id %>" name="<%= item.id %>" <% if (item.packed) { %>checked<% } %>>
                        <label for="<%= item.id %>"><%= item.name %></label>
                    </li>
                <% }); %>
            </ul>
            <a href="/users/<%= user._id %>/items/suitcase/:itemsId/edit">Update Jackets/SweatersList</a>
        </form>
    </br>

    <lh>Lounge wear/Athletic Clothes</lh>
        <form action="/update" method="POST">
            <ul>
                <% lounge.forEach(function(item) { %>
                    <li>
                        <input type="checkbox" id="<%= item.id %>" name="<%= item.id %>" <% if (item.packed) { %>checked<% } %>>
                        <label for="<%= item.id %>"><%= item.name %></label>
                    </li>
                <% }); %>
            </ul>
            <a href="/users/<%= user._id %>/items/suitcase/:itemsId/edit">Update Lounge Wear/Athletic Clothes</a>
        </form>
    </br>
