<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items to Pack</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All the items that you are going to need for the perfect vaction!</h1>
    <p>Weather information to be enter here!</p>
    <p>Traveling location to be entered here</p>
    <ul>
        <lh><a href="users/<%= user._id %>/items/edit">Toolitries</a></lh>
        
        <li>Something here</li>
   
        <input type="checkbox">

    </ul>
    </br>
    <ul>
        <lh><a href="users/<%= user._id %>/items/edit">Essentials</a></</lh>
        <li>SOmething here</li><input type="checkbox">
        
    </ul>
    </br>
    <ul>
        <lh><a href="users/<%= user._id %>/items/edit">Speciality Clothes</a></</lh>
        <li>Something here</li><input type="checkbox">
    </ul>
    </br>
    <ul>
        <lh><a href="users/<%= user._id %>/items/edit">Jackets/Sweaters</a></</lh>
        <li>something here</li><input type="checkbox">
    </ul>
    </br>
    <ul>
        <lh><a href="users/<%= user._id %>/items/edit">Socks/Underwear</a></</lh>
        <li>something here</li><input type="checkbox">
    </ul>
    </br>
    <ul>
        <lh><a href="users/<%= user._id %>/items/edit">Lounge wear/Athletic Clothes</a></</lh>
        <li>something here</li><input type="checkbox">
    </ul>
    </br>
</body>
</html>